body {
	background-color: rgb(36, 36, 36);
	color: rgb(184, 184, 184);
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

#center-align {
	max-width: 1000px;
	margin: auto;
}

.form-control {
	background-color: rgb(51, 51, 51);
	color: rgb(223, 223, 223);
	margin-bottom: 10px;
}

.btn {
	background-color: rgb(91, 248, 99);
	color: rgb(36, 36, 36);
}

#output {
	display: none;
	color: rgb(66, 177, 71);
	font-family: Verdana;
}

/* End of base css */